/* * {
  border: solid red 2px;
} */

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #EEF5DB;
  margin: 0;
  color: #011638;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

img {
  max-width: 100%;
}

header {
  margin-top: 96px;
  font-size: 2.5rem;
  font-weight: 900;
}

button {
  cursor: pointer;
}

.player-info-section {
  width: 18%;
  background-color: #C7EFCF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard, .choice-column1, .choice-column2, .options-view, .radio-section, .radio-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  width: 64%;
  justify-content: space-between;
}

.options-view {
  justify-content: center;
  gap:  4rem;
  padding: 1.5rem;
  background-color: #faa381;
  border-radius: 5px;
  height: 80%;
  width: 40%;
  align-self: center;
}

.choose-section {
  display: flex;
  gap: 1.5rem;
  width: 80%;
}

.results {
  width: 50%;
  display: flex;
  gap: 2.3rem;
}

.options-button {
  width: 2rem;
  height: 2rem;
  justify-self: end;
  align-self: end;
  margin: 32px;
}

.radio-section {
  gap: 1.2rem;
}

.radio-row {
  display: flex;
  gap: 3rem;
}

#rock, #paper, #scissors, #alien, #lizard, .options-button {
  cursor: pointer;
}

.hidden {
  display: none;
}