* {
  border: solid red 2px;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: space-between;
  background-color: #EEF5DB;
  margin: 0;
}

img {
  max-width: 100%;
}

header {
  margin-top: 80px;
  font-size: 2.5rem;
}

.player-info-section {
  width: 18%;
  background-color: #C7EFCF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-info {
  margin-top: 6rem;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-section {
  display: flex;
  gap: 1.5rem;
  width: 80%;
  margin-top: 176px;
}

.hidden {
  display: none;
}